{% extends 'blog/base.html' %}

{% block content %}
<script>
    function post_remove() {

        let result = confirm('Post를 삭제하시겠습니까?')
        if (result) {
            let remove_url = "{% url 'post_remove' pk=post.pk %}"
            document.location.href = remove_url
        }
    }
</script>
<div class="post">
    <h2>Post Detail</h2>
    {% if post.published_date %}
    <div class="date">
        <p>Published : {{post.published_date}}</p>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a href="#" onclick="post_remove()" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    {% endif %}

    <h1>{{post.title}}</h1>
    <p>{{post.text|linebreaksbr}}</p>
</div>
<hr>
<a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-default">Add Comment</a>
{% for comment in post.comments.all %}
{% if user.is_authenticated %}
<div class="comment">
    <div class="date">
        {{comment.created_date}}

        {% if not comment.approved_comment %}
        <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
        {% endif %}
    </div>
    <strong>{{comment.author}}</strong>
    <p>{{comment.text|linebreaksbr}}</p>
</div>
{% endif %}
{% empty %}
<p>No comments here yet :( </p>
{% endfor %}
{% endblock %}